<!DOCTYPE html>
<html>
  <head>
    <title>Demonstrator Toolkit</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/static/socket.io-client/socket.io.js"></script>
    <script src="/static/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
  <!--<div class="page hidden" id="admin-authenticate">

  <div>-->

  <div class="page" id="list-users">
    <h1>Connected Users</h1>
    <ul id="connected-users">
    </ul>

    <h1>Users waiting for sign off</h1>
    <ol id="signoff-users">
    </ol>
  </div>
  <script src="/js/admin.js"></script>
  </body>
</html>
