<!DOCTYPE html>
<html>
  <head>
    <title>Demonstrator Toolkit</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/static/socket.io-client/socket.io.js"></script>
    <script src="/static/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
  <div class="page" id="admin-authenticate">
    <div class="center width-50">
      <input type="password" id="admin-password" placeholder="Password for admin" class="width-70 spread">
      <button id="password-submit" class="width-30 spread">Enter</button>
    </div>
  </div>

  <div class="page hidden" id="manage-rooms">
    <div class="center-top width-50">
      <! --
      <button class="width-100" id="create-room">Create room</button>
      <hr>
      -->
      <div id="rooms"></div>
    </div>
  </div>

  <div class="page hidden" id="list-users">
    <div class="width-column-third">
      <h1>Connected Users</h1>
      <ul id="connected-users"></ul>
    </div>

    <div class="width-column-third">
      <h1>Users waiting for sign off</h1>
      <ol id="signoff-users"></ol>
    </div>
    <button class="width-20 bottom-right" id="nav-back">Go back</button>

  </div>
  <script src="/js/admin.js"></script>
  </body>
</html>
