<!DOCTYPE html>
<html>
  <head>
    <title>Demonstrator Toolkit</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/static/socket.io-client/socket.io.js"></script>
    <script src="/static/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div class="page" id="entry-page">
      <div class="center width-50">
        <input type="text" id="aber-username" placeholder="Aberystwyth University username" class="width-70 spread">
        <button id="username-submit" class="width-30 spread">Enter</button>
      </div>
    </div>
    
    <div class="page hidden" id="main-page">
      <div class="width-20 pull-right">
        <span>Hello, username | <a href="#" id="logout">logout</a></span>
      </div>
      <div class="center width-50">
        <button class="spread width-50" id="signoff">Request to be signed off</button>
      </div>
    </div>

  <script src="/js/main.js"></script>

  </body>
</html>
