<!DOCTYPE html>
<html>
  <head>
    <title>Demonstrator Toolkit</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/static/socket.io-client/socket.io.js"></script>
    <script src="/static/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div class="page" id="entry-page">
      Aber Username:
      <input type="text" id="aber-username">
      <button id="username-submit">Enter</button>

    </div>
    
    <div class="page hidden" id="main-page">
      <button id="signoff">Request to be signed off</button> 
    </div>

  <script src="/js/main.js"></script>

  </body>
</html>
