<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

        <title>Demonstrator Toolkit</title>

        <link rel="stylesheet" href="/static/pure/pure.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/css/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/css/side-menu.css">
        <!--<![endif]-->

        <link rel="stylesheet" href="/css/style.css">

        <script src="/static/socket.io-client/socket.io.js"></script>
        <script src="/static/jquery/dist/jquery.min.js"></script>

    </head>
    <body>

        <div id="layout">
    
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>

            <div id="menu">
                <div class="pure-menu pure-menu-open">
                    <p class="pure-menu-heading">Queue</p>

                    <ul class="userlist" id="aber-userlist">
                        <li>THR2 - Tom Rosier</li>
                        <li>SBS1 - Sam Sherar</li>
                    </ul>
                </div>
            </div>

            <div id="main">
                <div class="header">
                    <h1>Aberystwyth University</h1>
                    <h2>Demonstrator Toolkit</h2>
                </div>

                <div class="content">
                    <div id="entry-page">
                        <div class="center-cont">
                            <div class="pure-form">
                                <input type="text" id="aber-username" placeholder="AU username" require>
                                <button id="username-submit" class="pure-button pure-button-primary">Enter</button>
                            </div>
                        </div>
                    </div>

                    <div id="main-page">
                        <button class="pure-button pure-button-primary" id="signoff">Request to be signed off</button>
                    </div>
                </div>
                <div class="header-right">
                    <span>Hello, username | <a href="#" id="logout">logout</a></span>
                </div>
            </div>
        </div>

        <script src="/js/main.js"></script>

    </body>
</html>
